# Chicago Data Exploration using SQL

Note: This project was originally created for IBM's Coursera course <a href="https://www.coursera.org/learn/sql-data-science?specialization=ibm-data-science"> Databases and SQL for Data Science with Python</a>.

In [1]:
%load_ext sql

In [2]:
%sql ibm_db_sa://jjl04674:xdk%2Bzlmdjhxdrb5h@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB

'Connected: jjl04674@BLUDB'

In [3]:
%sql SELECT tabschema, tabname, create_time FROM syscat.tables WHERE tabschema = 'JJL04674'

 * ibm_db_sa://jjl04674:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('JJL04674', 'CHICAGO_PUBLIC_SCHOOLS', datetime.datetime(2021, 3, 12, 21, 13, 55, 789376)),
 ('JJL04674', 'CHICAGO_CRIME_DATA', datetime.datetime(2021, 3, 13, 18, 45, 11, 95553)),
 ('JJL04674', 'PETSALE', datetime.datetime(2021, 3, 7, 1, 58, 45, 82421)),
 ('JJL04674', 'EMPLOYEES', datetime.datetime(2021, 3, 7, 3, 2, 40, 784181)),
 ('JJL04674', 'JOB_HISTORY', datetime.datetime(2021, 3, 7, 3, 2, 40, 931256)),
 ('JJL04674', 'JOBS', datetime.datetime(2021, 3, 7, 3, 2, 41, 71303)),
 ('JJL04674', 'DEPARTMENTS', datetime.datetime(2021, 3, 7, 3, 2, 41, 210547)),
 ('JJL04674', 'LOCATIONS', datetime.datetime(2021, 3, 7, 3, 2, 41, 353474)),
 ('JJL04674', 'PETRESCUE', datetime.datetime(2021, 3, 9, 1, 27, 16, 863067)),
 ('JJL04674', 'INSTRUCTOR', datetime.datetime(2021, 3, 11, 0, 46, 9, 490392)),
 ('JJL04674', 'INTERNATIONAL_STUDENT_TEST_SCORES', datetime.datetime(2021, 3, 11, 5, 21, 3, 775594)),
 ('JJL04674', 'CHICAGO_SOCIOECONOMIC_DATA', datetime.datetime(2021, 3, 11, 21, 38, 32, 255334))]

Problem 1: Find the total number of crimes recorded in the CRIME table.

In [8]:
%sql SELECT count(distinct(case_number)) AS total_crimes FROM chicago_crime_data;

 * ibm_db_sa://jjl04674:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

Problem 2: List community areas with per capita income less than 11000.

In [9]:
%sql SELECT community_area_name, per_capita_income_ FROM chicago_socioeconomic_data WHERE per_capita_income_ < 11000

 * ibm_db_sa://jjl04674:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

Problem 3: List all case numbers for crimes involving minors?

In [12]:
%sql SELECT case_number FROM chicago_crime_data WHERE description LIKE '%MINOR%';

 * ibm_db_sa://jjl04674:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('HL266884',), ('HK238408',)]

Problem 4: List all kidnapping crimes involving a child?

In [37]:
%sql SELECT case_number, primary_type, description FROM chicago_crime_data WHERE primary_type = 'KIDNAPPING';

 * ibm_db_sa://jjl04674:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('HN144152', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

Problem 5: What kind of crimes were recorded at schools?

In [20]:
%sql SELECT primary_type, location_description FROM chicago_crime_data WHERE location_description LIKE '%SCHOOL%';

 * ibm_db_sa://jjl04674:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('BATTERY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL DAMAGE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPASS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('PUBLIC PEACE VIOLATION', 'SCHOOL, PRIVATE, BUILDING'),
 ('PUBLIC PEACE VIOLATION', 'SCHOOL, PUBLIC, BUILDING')]

Problem 6: List the average safety score for all types of schools.

In [24]:
%sql SELECT "Elementary, Middle, or High School", AVG(safety_score) as avg_safety_score FROM chicago_public_schools GROUP BY "Elementary, Middle, or High School";

 * ibm_db_sa://jjl04674:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('ES', Decimal('49.520383')),
 ('HS', Decimal('49.623529')),
 ('MS', Decimal('48.000000'))]

Problem 7: List 5 community areas with highest % of households below poverty line.

In [28]:
%sql SELECT community_area_name, percent_households_below_poverty FROM chicago_socioeconomic_data ORDER BY percent_households_below_poverty DESC LIMIT 5;

 * ibm_db_sa://jjl04674:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

Problem 8: Which community area(number) is most crime prone?

In [34]:
%sql SELECT community_area_number, count(case_number) as num_of_crimes FROM chicago_crime_data GROUP BY community_area_number ORDER BY num_of_crimes DESC LIMIT 1;

 * ibm_db_sa://jjl04674:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[(25, Decimal('43'))]

Problem 9: Use a sub-query to find the name of the community area with highest hardship index.

In [45]:
%sql SELECT community_area_name, hardship_index FROM chicago_socioeconomic_data WHERE hardship_index = (SELECT MAX(hardship_index) FROM chicago_socioeconomic_data);

 * ibm_db_sa://jjl04674:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('Riverdale', 98.0)]

Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?

In [44]:
%sql SELECT cps.community_area_name, count(case_number) as num_of_crimes FROM chicago_public_schools as cps, chicago_crime_data as ccd
WHERE cps.community_area_number = ccd.community_area_number GROUP BY cps.community_area_name order by num_of_crimes DESC LIMIT 1;

 * ibm_db_sa://jjl04674:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('AUSTIN', Decimal('989'))]

This is the end of this assignment.